/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-empty-line-before */
/* stylelint-disable order/properties-order */

// main colors

$primary: #b91919;
$primaryLight: #b9191947;

$secondary: #d93501;
$secondary2: #e3593b;
$secondary3: #ff9077;

// neutral colors

$white: #fff;
$black: #000;

// feedback colors

$success: #44c969;
$warning: #ffb800;
$danger: #ee2828;

:export {
  primary: $primary;
  primaryLight: $primaryLight;

  secondary: $secondary;

  black: $black;
  white: $white;

  danger: $danger;
  success: $success;
  warning: $warning;
}
