/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-empty-line-before */
/* stylelint-disable order/properties-order */

// main colors

$primary: #282b2a;

$secondary: #e53f49;

$terciary: #00bb7e;

$quaternary: #5b98d2;

// neutral colors

$white: #fdfdfd;
$black: #000;

// feedback colors

$success: #44c969;
$warning: #ffb800;
$danger: #ee2828;

// DELETE LATER OR CHANGE WITH THE REAL COLORS

$secondary2: #e3593b;
$secondary3: #ff9077;
$primaryLight: #b9191947;

:export {
  primary: $primary;

  secondary: $secondary;

  terciary: $terciary;

  quaternary: $quaternary;

  black: $black;
  white: $white;

  danger: $danger;
  success: $success;
  warning: $warning;

  primaryLight: $primaryLight;
}
