@import '/src/styles';

.wrapper {
  display: flex;
  height: 100vh;
  padding: 1rem;
}

.imgPanel {
  display: flex;
  flex-basis: 45%;
  align-items: center;
  justify-content: center;

  background: $primary;
  background: linear-gradient(0deg, $primary 0%, $secondary3 100%);
  background: linear-gradient(0deg, $primary 0%, $secondary3 100%);
  border-radius: 1rem;
}

.contentPanel {
  display: flex;
  flex-basis: 55%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100%;
}

.navbar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 0;
}

.goBack {
  margin-left: 1rem;
  color: $black;

  &:visited {
    color: none;
  }
}

.logo {
  transform: translate(-30%);
}
